@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
$primary-font: 'Poppins';
$primary-black: #262626;
$secondary-color: #1a1c1e;
$gray: #ffffff2a;
$gray1: #838383;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}